<span class="sort"><h3>Sort centers by: </h3>
<nz-select ngModel="gender" nzPlaceHolder="Select sorting" (ngModelChange)="sortBy($event)">
  <nz-option nzValue="asc(name)" nzLabel="asc(name)"></nz-option>
  <nz-option nzValue="desc(name)" nzLabel="desc(name)"></nz-option>
  <nz-option nzValue="asc(avgGrade)" nzLabel="asc(avgGrade)"></nz-option>
  <nz-option nzValue="desc(avgGrade)" nzLabel="desc(avgGrade)"></nz-option>
</nz-select></span>
<button (click)="resetSort()">Reset</button>
   <br>
   <br>
   <nz-table #basicTable [nzData]="centers">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Description</th>
          <th>Average Grade</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let center of centers">
          <td >{{center.name }}</td>
          <td>{{ center.address }}</td>
          <td>{{ center.description }}</td>
          <td>{{ center.avgGrade }}</td>
          <td>
            <a (click)="showCenter(center.id)" >Show Available Appointments</a>
          </td>
        </tr>
      </tbody>
     
    </nz-table> 